# The app hostname
APP_HOST=127.0.0.1

# Database name
MYSQL_DATABASE=covid19_data

# Database user
MYSQL_USER=devuser

# Database user password
MYSQL_PASSWORD=devpass

# Database root password
MYSQL_ROOT_PASSWORD=root
